name: Build

on: [ push ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-24.04
    env:
      PICO_SDK_PATH: ${{ github.workspace }}/__pico-sdk__

    steps:

    - uses: actions/checkout@v6

    - name: Checkout pico-sdk
      uses: actions/checkout@v6
      with:
        repository: raspberrypi/pico-sdk
        ref: '2.1.1'
        path: __pico-sdk__
        submodules: true

    - name: Install ARM toolchains
      run: |
        sudo apt update
        sudo apt install -y cmake gcc-arm-none-eabi gcc g++

    - run: make

    - uses: actions/upload-artifact@v5
      with:
        name: firmwares
        path: |
          build/*/*.uf2
          build/*/*.dis
          build/*/*.elf
          build/*/*.elf.map
